* {
    margin: 0;
}

html,
body {
    height: 100%;
}

html,
body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 11pt;
}

dfn {
    font-style: normal;
    border-bottom: 1px dashed black;
    cursor: help;
}

input[type=button],
button {
    border: 1px solid gray;
    background-color: #ffff66;
    -moz-border-radius: 15px;
    border-radius: 15px;
    font-family: Helvetica, Arial, sans-serif;
    width: 50px;
    height: 50px;
    padding: 0.5ex;
}


/*


general layout


*/

#notifications {
    overflow-x: hidden;
}

#contract {
    width: 66%;
    display: inline-block;
    margin-bottom: -25px;
}

#contract textarea,
#abi textarea {
    display: block;
    height: auto;
    width: 100%;
    background-color: #dddddd;
    font-family: monospace;
    font-size: 140%;
}

#abi {
    width: 34%;
    display: inline-block;
    float: right;
}

#contract textarea {
    height: 100%;
}

#abi textarea {
    height: 50%;
}

#abi-tree {
    height: 50%;
    overflow: scroll;
}

#abi-tree > div {
    margin: 1em;
}

#codeview > .header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    text-align: right;
}

#codeview > .main {
    position: absolute;
    top: 80px;
    bottom: 0;
    left: 0;
    right: 0;
}

#uiview .header {
    position: absolute;
    top: 0;
    left: 0;
    height: 150px;
    width: 100%;
    text-align: right;
    border-bottom: 1px solid silver;
    /*overflow-x: hidden;*/
    overflow-y: hidden;
    background-color: #f6f6f6;
}

#uiview .header .wrapper,
#codeview .header .wrapper > div {
    margin: 15px;
}

#codeview nav {
    float: left;
}

#codeview nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#codeview nav li a {
    padding: 0 10px 50px 10px;
    cursor: pointer;
}

#codeview nav li {
    float: left;
    border: 1px solid;
    border-bottom-width: 0;
    margin: 40px 0 0 5px;
    height: 100%;
    padding-top: 3px;
}

#codeview nav li.selected {
    /*position: relative;*/
    /*top: 1px;*/
    background: orange;
    margin-top: 25px;
}

#uiview .header > div > div {
    display: inline-block;
    vertical-align: top;
}

#uiview .header .notifications > div,
#uiview .header .notification {
    min-width: 100px;
    height: 100px;
    padding: 1ex;
    margin-right: 1ex;
    display: inline-block;
    text-align: left;
    vertical-align: top;
    background-color: white;
    box-shadow: 0px 0px 0px 1px rgba(155, 155, 155, 0.3), 1px 0px 0px 0px rgba(255, 255, 255, 0.9) inset, 0px 2px 2px rgba(0, 0, 0, 0.1);
}

#uiview .main button,
#uiview .main input[type=button] {
    margin: 1ex;
    height: 25px;
    width: 75px;
}

#uiview .main {
    position: absolute;
    top: 150px;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: scroll;
}

#uiview .header input[type=button],
#uiview .header button {
    width: 50px;
    height: 50px;
    text-align: center;
    margin-bottom: 1ex;
    box-shadow: 0px 0px 0px 1px rgba(155, 155, 155, 0.3), 1px 0px 0px 0px rgba(255, 255, 255, 0.9) inset, 0px 2px 2px rgba(0, 0, 0, 0.1);
}

#codeview .header input[type=button],
#codeview .header button {
    width: 50px;
    height: 50px;
    text-align: center;
    margin-bottom: 1ex;
}

#functions,
#logs {
    vertical-align: top;
    display: inline-block;
    width: 49%;
}

#functions > div,
#logs > div {
    padding: 1em;
}

#functions h2,
#logs h2 {
    display: inline-block;
    margin-right: 1em;
}

.wrapper #connect-status {
    padding: 1ex;
}

#connect-status {
    margin: 1ex 0;
    line-height: 150%;
    font-family: monospace;
    border: 1px solid silver;
}


/*


    modal

*/

.dialogIsOpen #modalwrapper {
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#modal {
    position: fixed;
    width: 50%;
    top: 12.5%;
    left: 12.5%;
    width: 75%;
    height: 75%;
    /* Embiggen */
    transform: scale(1.5);
    /* prefix me */
    /* Hidden */
    opacity: 0;
    pointer-events: none;
    background: #F5F5F5;
    border-radius: 15px;
    box-shadow: 0px 0px 0px 1px rgba(155, 155, 155, 0.3), 1px 0px 0px 0px rgba(255, 255, 255, 0.9) inset, 0px 2px 2px rgba(0, 0, 0, 0.1);
    padding: 1em;
    overflow-y: auto;
    overflow-x: auto;
}

.dialogIsOpen .page-wrap {
    /* Blur and de-color */
    filter: blur(5px) grayscale(50%);
    -webkit-filter: blur(5px) grayscale(50%);
    /* Recede */
    /*-webkit-transform: scale(0.9);*/
}

.dialogIsOpen #modal {
    /* Regular size and visible */
    transform: scale(1);
    /* prefix me */
    opacity: 1;
    /* Clickable */
    pointer-events: auto;
    z-index: 100;
}

.page-wrap,
#modal {
    transition: all 0.4s ease;
    /* prefix me */
}

.modal > input[type=button] {
    float: right;
    margin: 1ex;
}

#tx-message,
#connect-message {
    color: red;
    font-weight: bolder;
    font-size: 125%;
    margin-bottom: 1em;
}

.tx-options label {
    display: inline-block;
    width: 6em;
    text-align: right;
    margin: 0.5ex 1em;
}

.tx-options input[type=button],
.tx-options button {
    width: 18em;
    margin: 2em 6em 0 6em;
}


/*


flipbook


*/


/* entire `ainer, keeps perspective */

.flip-container {
    perspective: 1000;
}


/* flip the pane when hovered */

.flip-container.hover .flipper,
.flip-container.flip .flipper {
    transform: rotateY(180deg);
}

.flip-container,
.front,
.back {
    width: 100%;
    height: 100%;
}


/* flip speed goes here */

.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
    height: 100%;
}


/* hide back of pane during swap */

.front,
.back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
}


/* front pane, placed above back */

.front {
    z-index: 2;
    /* for firefox 31 */
    transform: rotateY(0deg);
}


/* back, initially hidden pane */

.back {
    transform: rotateY(180deg);
}


/*


    ui accordian


*/

.ac-container {
    width: 100%;
    margin: 1em auto 1em auto;
}

.ac-container > div > label {
    padding: 5px 20px;
    position: relative;
    z-index: 20;
    display: block;
    height: 30px;
    cursor: pointer;
    color: #777;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.8);
    line-height: 33px;
    font-size: 19px;
    box-shadow: 0px 0px 0px 1px rgba(155, 155, 155, 0.3), 1px 0px 0px 0px rgba(255, 255, 255, 0.9) inset, 0px 2px 2px rgba(0, 0, 0, 0.1);
}

.ac-container > div > label:hover {
    background: #c6e1ec;
}

.ac-container input:checked + label,
.ac-container input:checked + label:hover {
    background: #c6e1ec;
    color: #3d7489;
    text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.6);
    box-shadow: 0px 0px 0px 1px rgba(155, 155, 155, 0.3), 0px 2px 2px rgba(0, 0, 0, 0.1);
}

.ac-container > div > input {
    display: none;
}

.ac-container article {
    background: rgba(255, 255, 255, 0.5);
    margin-top: -1px;
    display: none;
    z-index: 10;
}

.ac-container input:checked ~ article {
    box-shadow: 0px 0px 0px 1px rgba(155, 155, 155, 0.3);
}

.ac-container input:checked ~ article {
    display: block;
    padding: 1em;
}


/* hide redundant */

.function > h3,
.event > h3 {
    display: none;
}


/*



*/

.full-size {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    overflow: hidden;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.nowrap {
    white-space: nowrap;
}

.inline {
    display: inline-block;
}

.stack {
    display: block;
    clear: both;
    margin-bottom: 1ex;
}


/*




*/

.event legend {
    display: none;
}

.event fieldset {
    border: none;
}

.solfield input,
.solfield textarea {
    font-family: monospace;
    color: black;
    border: 1px solid gray;
}

.solfield input[readonly],
.solfield textarea[readonly],
.solfield .readonly,
input[disabled],
select[disabled],
textarea[disabled] {
    cursor: not-allowed;
    background-color: #E3E3E3;
}

.solfield > * {
    display: inline-block;
    margin-top: 1ex;
    vertical-align: top;
}

.solfield .name {
    width: 8em;
    text-align: right;
    margin-right: 1em;
}

.solfield .comparison {
    width: 8em;
}

.solfield .value {
    margin-left: 1em;
}

.notifications .dashed,
.notification.dashed {
    border: 1px dashed black !important;
}

.success {
    background-color: #BCF5A9 !important;
}

.warning {
    background-color: #F3F781 !important;
}

.error {
    background-color: #F5A9A9 !important;
}

#contents-logsearch .event {
    border: 1px solid black;
    margin: 1em;
    padding: 1ex;
}

#contents-logsearch dl dt {
    display: inline-block;
    min-width: 150px;
    margin-bottom: 1ex;
}

#contents-logsearch dl dd {
    display: inline;
    margin: 0;
    font-family: monospace;
    font-size: 80%;
}

#contents-logsearch dl dd:after {
    display: block;
    content: '';
}

.address {
    width: 30em;
}

#log-search input {
    margin-right: 1em;
    margin-left: 1em;
}
