html, body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 11pt;
}

#wrapper {
    height: 100vh;
}

#head, #top, #bottom, #foot {
    width: 100%;
    clear: both;
    margin: 1ex;
}

.border {
    margin: 1em 0 1em 0;
    padding: 1ex;
}

.function {
    background-color: #CCFFCC;
    border-color: green;
}

.event {
    background-color: #B2E6FF;
    border-color: gray;
}

.clearboth {
    clear: both;
}

.readonly {
    font-family: monospace;
    color: #000000;
    background-color: #E6E6E6
}

.in-address {
    width: 30em;
}

.in-transaction {
    width: 40em;
}

#main {
    float: left;
    width: 50%;
    overflow-y: scroll;
}

#status {
    float: right;
    width: 50%;
}

#head {
    padding-bottom: 1ex;
}

#remote {
    width: 50%;
    float: right;
}

#local {
    width: 50%;
    float: left;
}

#contract-abi {
    width: 100%;
    height: 8em;
}

#contract-code {
    width: 100%;
    height: 8em;
}

