* {
    margin: 0;
}

html,
body {
    height: 100%;
}

html,
body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 11pt;
}

.readonly {
    font-family: monospace;
    color: #000000;
    background-color: #E6E6E6
}

div.function > h3 {
    display: inline;
    margin-right: 2em;
}

#functions {
    margin: 0;
}

#functions > div {
    display: inline-block;
}

#events {
    margin: 0;
    width: 100%;
    display: inline-block;
}

#message-container div.solfield input,
#message-container div.solfield textarea {
    border: none;
}

#messages {
    margin: 0;
    height: 10em;
    overflow-y: scroll;
}

#contract-abi {
    width: 100%;
    height: 8em;
}

#contract-code {
    width: 100%;
    height: 8em;
}

fieldset.input label,
fieldset.output label,
fieldset.event label {
    margin-right: 1em;
    display: inline-block;
    width: 8em;
    text-align: right;
}

fieldset.input,
fieldset.output,
fieldset.event {
    clear: both;
}

.event > h3 {
    display: inline-block;
    margin-right: 1em;
}

.pull-left {
    float: left;
    width: 50%;
    /*overflow-y: scroll;*/
}

.pull-right {
    float: right;
    width: 50%;
}

.address,
.string {
    width: 60ex;
    height: 1.8em;
}

.bytes {
    width: 100%;
}

.int,
.uint {
    height: 1.8em;
}

.log {
    margin: 1em 1em;
    border: 1px solid gray;
    padding: 1em 1em;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

.notification {
    margin: 0 0 1em 0;
    border: 1px solid gray;
    padding: 10px 5px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    line-height: 1.4;
}

.notification > button {
    /*position: absolute;*/
    /*right: 20;*/
    float: right;
    margin-top: -0.5em;
}

.notification pre {
    background-color: silver;
    border: 1px solid black;
    padding: 5px;
    font-size: 80%;
}

.notification samp {
    background-color: silver;
    border: 1px solid black;
    padding: 1px;
    font-size: 80%;
}

.success {
    background-color: #BCF5A9
}

.warning {
    background-color: #F3F781
}

.error {
    background-color: #F5A9A9
}

.notifications > div {
    margin: 1em 1ex;
}

.notification > div dl dt,
.log > div dl dt {
    display: inline-block;
    min-width: 150px;
    margin-bottom: 1ex;
}

.notification > div dl dd,
.log > div dl dd {
    display: inline;
    margin: 0;
    font-family: monospace;
    font-size: 80%;
}

.notification > div dl dd:after,
.log > div dl dd:after {
    display: block;
    content: '';
}

div.solfield {
    margin: 1ex 0;
}

#events div.solfield > label {
    display: inline-block;
    min-width: 5em;
    margin-right: 1em;
}

#eventFilter {
    margin: 1em;
}

#main > div {
    vertical-align: top;
}

fieldset#inputs {
    clear: both;
}

dfn {
    font-style: normal;
    border-bottom: 1px dashed black;
    cursor: help;
}

.comparison {
    width: 8em;
    display: inline-block;
    margin-right: 1em;
}

.indexed {
    margin-left: 1em;
    font-weight: bold;
}

#main > div {
    width: 100%;
}

#dashboard > div {
    padding: 1em;
}

#tab-container {
    display: none;
}

@media screen and (min-width: 1024px) {
    #header {
        position: fixed;
        top: 0px;
        margin: auto;
        z-index: 100000;
        width: 100%;
        background-color: white;
    }
    #header-wrapper: {
        background: #000;
        height: 200px;
    }
    #header-wrapper > div {
        width: 100%;
        vertical-align: top;
    }
    #header-wrapper > div > div {
        display: inline-block;
        vertical-align: top;
    }
    #main {
        margin: 200px 0 0 0;
    }
    #abi {
        width: 50%;
        float: left;
    }
    #contract {
        width: 50%;
        float: left;
    }
    #controls {
        width: 45%;
    }
    #controls > h2 {
        display: none;
    }
    #messages {
        width: 50%;
        display: inline-block;
    }
    #tab-container {
        float: left;
        display: inline-block;
    }
    #tab-container ul {
        list-style: none;
        text-align: right;
        padding: 0;
    }
    #tab-container ul li {
        border-top: 1px solid #666;
        border-left: 1px solid #666;
        border-bottom: 1px solid #666;
        border-right: 8px solid #666;
        background-color: #ddd;
        margin: 4px 0;
        padding-right: 1em;
    }
    #tab-container ul li a,
    #tab-container ul li a:visited {
        text-decoration: none;
        color: #666;
        display: block;
        padding: 8px 5px;
    }
    #tab-container ul li:hover {
        border-right: 8px solid #333;
    }
    #tab-container ul li a:hover {
        color: #000;
    }
    #tab-container ul li.selected {
        border-right: none;
        background-color: #fff;
        border-right: 8px solid #006699;
    }
    #tab-container ul li.call {
        border-left: 8px solid green;
    }
    /* transact must be before call because anything can be transacted to */
    #tab-container ul li a.transact::after {
        content: " \2192";
    }
    #tab-container ul li a.call::after {
        content: " \21c4";
    }
    #main-container {
        min-height: 400px;
        /*margin: 1em 1em 0 15em;*/
        padding: 20px;
        background-color: #fff;
        border: 1px solid #888;
        display: inline-block;
    }
    #main > div > div {
        display: inline-block;
        width: 45%;
    }
    #dashboard > h2 {
        display: none;
    }
    #functions > h2 {
        margin-left: 220px;
    }
    #messages > h2,
    #events > h2 {
        display: inline-block;
    }
    .mainleft {
        padding: 1em;
    }
    .mainright {
        float: right;
        padding: 1em;
    }
}
